*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}




/* crouser section */

#crouserContainer{
/* border: 1px solid red; */
position: relative;
}
#crouserContainer>button{
    height: 98%;
    width: 70px;
    color: aliceblue;
border: transparent;


}
#leftBtn{
    /* height: 50px; */
    position:absolute;
    left: 1px;
    font-size: 60px;
    background-color: rgba(100,100,100,.3);
}
#rightBtn{
    /* height: 50px; */
    position:absolute;
    right: 1px;
    font-size: 60px;
    background-color: rgba(100,100,100,.3);
}
#Crouse{
    width: 100%;
}

/* container1 */
#container1{
    
    /* height: 150px; */
    display: grid;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
#container1>div{
    border: 1px solid rgb(42, 42, 53);
    height: 192px;
    position: relative;
    border-radius: 10px;
}
#container1>div>div{
    /* border: 1px solid yellow; */
    height: 115px;
    border-radius: 10px 10px 0px 0px;
}
#container1>div:nth-child(1)>div{
    background-color: rgba(53,194,169,.24);
}
#container1>div:nth-child(2)>div{
    background-color: #fdf2d2;
}
#container1>div:nth-child(3)>div{
    background-color: #d6f0ff;
}
#container1 img{
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}
#container1 p{
    background-image: url(https://assets.pharmeasy.in/web-assets/dist/1602b4ce.svg);
    width: 145px;
    height: 20px;
    color: aliceblue;
    border-radius: 10px 0px 0px 0px;
    
}
#container1 h1{
    margin: 18px 0px 10px 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color:  #4F585E;

}
#container1 button{
    margin: 15px 0px 0px 20px;
    height: 45px;
    width: 138px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
    color: aliceblue;
}
#container1>div:nth-child(1)>button{
    background-color: #3BB896;
}
#container1>div:nth-child(2)>button{
    background-color: #FC8019;
}
#container1>div:nth-child(3)>button{
    background-color: #00B9E1;
}

/* Banner */

#banner{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    height: 120px;
    display: flex;
    align-items: flex-end;
    position: relative;
    
}
#banner>div{
    display: flex;
    height: 94px;
    width: 100%;
    align-items: center;
    position: relative;
    padding: 0px 10px 0px 30px;
    background-color: #a291fa;
    border-radius: 10px;
    background-image:url(https://assets.pharmeasy.in/web-assets/dist/f5c40209.svg);
}
#banner>div>div{
    width: 775px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: aliceblue;
    margin: 15px 0px 0px 50px;
}
#banner>div>img{
    height: 60%;
    width: 15%;
    
}
#banner>div>img:nth-child(3){
    width: 170px;
    height: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Offer just for you */

#OfferForYou{
    /* border: 1px solid red; */
    width: 95%;
    height: 167px;
    margin: auto;
    margin-top: 70px;
    
}
#OfferTop{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
#OfferTop>div{
    display: flex;
    align-items: center;
}
#OfferTop>div>p{
margin-left: 20px;
}
#OfferTop>div+div{
    gap: 30px;
    align-items: center;
}
#OfferTop>div+div>p{
    color: #3BB896;
}
#OfferTop>div+div>div{
    transform: rotateY(180deg);
}

/* offerbottom */

#OfferBottom{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#OfferBottom>div{
    border: 1px solid rgb(185, 175, 175);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    height: 100px;
    align-items: center;
    padding-left: 20px;
}

#OfferBottom>div>div:nth-child(2){
    /* border: 1px solid red; */
    width: 200px;
    line-height: 22px;
    
}
#OfferBottom>div img{
    width: 60px;
    height: 60px;
}

/* Featured Brands */

#Featured-Brands{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
#Featured-Brands>h1{
    font-size: 20px;
    font-weight:700;
    line-height: 30px;
    color: #4F585E;
}
#Brands{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    /* height: 150px; */
    gap: 15px;
}
#Brands>div{
    height: 210px;
    margin-top: 20px;
}
#Brands img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* health articles */

#Health-Articles{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    margin-top: 60px;
}
#Health-Articles>h1{
    font-size: 20px;
    font-weight: 700;
    line-height:30px;
    color: #4F585E;
    display: block;
}

#Health-ArticlesContent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
#Health-ArticlesContent img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
#Health-ArticlesContent>div>p:nth-child(2){
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #4F585E;
    margin: 15px 0 0 0;
    overflow: hidden;
}
#Health-ArticlesContent>div>div{
    font-size: 14px;
    line-height: 21px;
    color: #4F585E;
    height: 42px;
    margin:10px 0px 5px 0px ;
    overflow: hidden;

}
#Health-ArticlesContent>div>p:nth-child(4){
    font-size: 14px;
    font-weight: 600;
    line-height:17.5px;
    color: #10847E;
}

/* Why Choose us */

#WhyChoose-Us{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    margin-top: 50px;
}
#WhyChoose-Us>h1{
    font-size:20px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 10px;
    color: #4F585E;
    margin-bottom: 20px;
}

#WhyChoose-UsContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#WhyChoose-UsContent>div>p:nth-child(2){
    font-size: 14px;
    font-weight: 700;
    line-height:21px;
    color: #4F585E;
    margin-top: 20px;
}
#WhyChoose-UsContent>div>p:nth-child(3){
    font-size:18px;
    font-weight: 600;
    line-height:23px;
    color: #4F585E; 
    margin-top: 10px;
}

/* What our customers  have to say */

#customers{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    margin-top: 60px;
}
#customers>h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #4F585E;
}

#CustomersContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid blue; */
    margin-top: 20px;
    gap: 20px;
}

#CustomersContent>div>h1{
    font-size: 14px;
    font-weight: 700;
    line-height:17.5px;
    color: #4F585E;
}
#CustomersContent>div>h1+p{
    font-size: 14px;
    line-height: 17.5px;
    color: #8897A2;
}

#CustomersContent>div>div{
    /* border: 1px solid black; */
    margin-top: 20px;
    background-color: #f2fff8;
    padding: 20px 20px;
    height: 176px;
    /* width: 320px; */
}

#CustomersContent>div>div>p{
    font-size: 12px;
    line-height:15px;
    color: #4f585e;
    margin: 10px 0 0 0;
}

/* download app section */

#Download{
    display: flex;
    margin-top: 60px;
    background-color: #f2f5f5;
    justify-content: space-between;
    height: 340px;
}
#Download>div:nth-child(1){
    width: 580px;
    padding: 60px;
    height: 220px;

}
#Download h1{
    font-size:26px;
    font-weight:700;
    line-height: 47px;
    color: #4F585E;
}
#Download h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    color: #4F585E;
    margin-top: 80px;
}
#Download>div{
    height: 100%;
    width: 485px;
    /* border: 1px solid blue; */
}
 #Download>div+div>img{
    width: 100%;
    height: 100%;
 }

 #download-img{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    width: 100%;
 }
 #download-img>img{
    width: 170px;
 }

 /* footer */

 #Footer{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns:80% 20%;
    row-gap: 20px;
    margin-top: 30px;
    padding: 0 20px 90px 50px;
    
 }
 #footerleft{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "comp feat need"
    "ourser feat info";
 }
 #Footer h1{
    font-size:16px;
    font-weight:700;
    color: #4F585E;
    line-height: 20px;
    margin-bottom: 10px;
 }
 #footerleft a{
    text-decoration: none;
    color: #4F585E;
    display: block;
    font-size: 16px;
    line-height: 30px;
    height: auto;
    width: auto;

 }
 #footerleft>div:nth-child(1){
    grid-area: comp;
 }
 #footerleft>div:nth-child(2){
    grid-area: ourser;
}
#footerleft>div:nth-child(3){
    grid-area: feat;
}
#footerleft>div:nth-child(4){
    grid-area: need;
}
#footerleft>div:nth-child(5){
    grid-area: info;
}

#footerright a{
    margin-right: 20px;
}
#footerbottom{
    /* border: 1px solid blue; */
    width: 126.5%;
}
#footerbottom>div{
    display: flex;
    justify-content: space-between;
}
#footerbottom>div>div:nth-child(1){
    width:750px;
    height: 35px;
}

#footerbottom>div>div:nth-child(1)>img{
    height: 100%;
    width: 7%;
    margin-right: 5px;
}